.body {
    margin: 0;
}
.Sidebar {
    background: rgba(145, 13, 13, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    width: 25%;
    font-size: 14px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.SidebarItems {
    position: relative;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 45px 30px;
}

.nav-menu { 
    display: grid;
    list-style: none;

}

.nav-links {
    text-align: left;
    color: white;
    text-decoration: none;
    display: table;
}

.nav-links:hover {
    color: red;
}

.icon-menu {
    display: none;
}

.active {
    color: black;
}
/* Responsive */

@media screen and (max-width: 1000px) {
    .Sidebar {
        top: auto;
        bottom: auto;
        position: relative;
        left: auto;
        right: auto;
        width: auto;
        /* padding-bottom: 0; */
    }
    .SidebarItems {
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        padding: 45px 30px;
    }

    .main-nav {
        font-size: 18px;
        border: 1px solid rgba(255,255,255,.2);
        border-width: 1px 0;
        padding: 0 20px;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        margin-top: 90px;
        left: 0;
        width: 100%;
        height: 300px;
        position: absolute;
        z-index: -1;
        opacity: 0;
        transition: all 0.5s ease;
        background: rgba(145, 13, 13, 0.9);
    }

    .nav-menu.active {
        transition: all 0.5s ease;
        opacity: 1;
    }

    .icon-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%,900%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    
    .person {
        width: 350px;
        display: block;
        margin: auto;
    }

}
/* Avatar */
.person .person-avatar .avatar {
    width: 152px;
    border-radius: 50%;
}

.person {
    display: block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    color: inherit;
}

.person-title {
    font-size: 16px;
    font-weight: 500;
}

.person-subtitle {
    font-size: 14px;
    font-weight: 300;
}

.social [class^="icon-"] {
    display: inline-block;
    color: rgba(255,255,255,.6);
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    width: 25px;
    height: 40px;
    line-height: 40px;
}

