body {
  background: white;
}

.pages {
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 75%;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .pages {
    width: 100%;  
  }
}